*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    
    
}
body {
    background: #E5E5E5;
}

.caixa {
    font-weight: bold;
    margin-top: 10px;    

}


.main {
    display: flex;
    margin-top: 10px;
       
} 

.inicial-texto {
    margin-left: 3%;
       
   
}

.input-texto {
    border-radius: 10px 10px 10px 10px;
    
}



.mensagem {
   
    margin-left: 5%;
    margin-top: 0%;
    background-image: url("imagens/boneco.png");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    border-radius: 10px 10px 10px 10px;
    
    
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 20px;
    

}
.encriptar {
    background-color: darkblue;
    color: white;
    border-radius: 10px 10px 10px 10px;
    
}

.desencriptar {
    margin-left: 20px;
    background-color: gray;
    color: white;
    border-radius: 10px 10px 10px 10px;
   

}

.informacao {
    font-size: 15px;
}

.copiar {
    
    background-color:lightgray;
    color: blue;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    margin-top: -60px !important;
    margin-left: 160px !important;
}





@media screen and (max-width: 420px) {

    .caixa, .botoes, .informacao, .copiar, .main, .mensagem {
        width: auto;   
    }
    .main {
        
        display: block;
        margin-left: 0;
    }

    .botoes {
        margin-left: 40px ;

    }


    .mensagem {
       
        margin-top: 20px;
        /*margin-left: 0;
        width: fit-content;*/
        
    }
    .encriptar {
        font-size: 15px; 
        
    }
    
    .desencriptar {
        font-size: 15px; 
           
    }
    

    .copiar {
        position: relative;
        z-index: 1;
        margin-top: -60px;

        margin: auto;
        font-size: 15px;        
    }





}